@model Progetto_S2.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1 class="bg-dark form-create text-light p-2 display-4">Details</h1>

<div>
    
    <hr />
    <dl class="row text-center">
        <dt class="col-sm-2 text-light">
            <p class=" bg-dark form-create py-2 text-center">
            @Html.DisplayNameFor(model => model.Name)
            </p>
            <hr />
            <p class="fw-normal">@Model.Name</p>
        </dt>
        <dt class="col-sm-2 text-light">
            <p class=" bg-dark form-create py-2 text-center">
            @Html.DisplayNameFor(model => model.Price)
            </p>
            <hr />
            <p class="fw-normal">@Model.Price.ToString("C")</p>
        </dt>
        <dt class="col-sm-3 text-light">
            <p class=" bg-dark form-create py-2 text-center">@Html.DisplayNameFor(model => model.Description)</p>
            <hr />
            <p class="fw-normal">@Model.Description</p>
        </dt>
    </dl>
    @if (!string.IsNullOrEmpty(Model.CoverImagePath))
    {
        <img src="@Model.CoverImagePath" alt="@Model.Name" class="img-fluid">
    }
    <div class="bg-dark form-create text-light p-2 mt-3">
        <h2 class="fw-light">Altre Immagini dell'articolo</h2>
    </div>
    <hr />
    <div class="mt-4 pt-3 d-flex justify-content-center gap-5">
        @if (!string.IsNullOrEmpty(Model.AdditionalImagePath1))
        {
            <div class="border-end pe-5">
            <img src="@Model.AdditionalImagePath1" alt="Immagine Addizionale 1" class="img-thumbnail">
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.AdditionalImagePath2))
        {
            <img src="@Model.AdditionalImagePath2" alt="Immagine Addizionale 2" class="img-thumbnail">
        }
    </div>
</div>
<div>
    
    <a asp-action="Index" class="link-light">Back to List</a>
</div>
